/* THIS IS FOR THE WEEKLY GENERAL PAGE */

h1{
  color: #e68c0e;
  font-size: 10vh;
    font-family: 'Sigmar One', cursive;
}

h2{
  color: #e36fa9;
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #cdf7d1
}

.blueText{
  color: #0000ff;
}

body{
  background-image:url("Lilo&Stitch.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a{
  color: #b7cced;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

img{
  
}
