.description{
  width: 50vh;
  height:5vh;
  margin-top: 15vh;
  margin-left: 35%;
  /*margin-right: 30%;*/
  padding: 50px;
  background-color: pink;
  z-index: 1;
}
.optionA{
  width: 10vh;
  height:10vh;
  position: absolute;
  bottom: 50px;
  left: 10%;
  padding: 50px;
  background-color: pink;
  z-index: 1;

}
.optionB{
  width: 10vh;
  height:10vh;
  position: absolute;
  bottom: 50px;
  left: 40%;
  position: absolute;
  padding: 50px;
  background-color: pink;
  z-index: 1;

}
.optionC{
  width: 10vh;
  height:10vh;
  position: absolute;
  bottom: 50px;
  right: 10%;
  padding: 50px;
  background-color: pink;
  z-index: 1;

}

#night{
  top: 0px;
  height:100%;
  z-index: -10;
  position: absolute;
  overflow: hidden;
}
